<h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
<div class="row">
    <div class="col-md-12">
      slider
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xl-3 col-lg-6">
        STAT
    </div>
    <div class="col-xl-3 col-lg-6">
        STAT
    </div>
    <div class="col-xl-3 col-lg-6">
        STAT
    </div>
</div>
<hr />

<hr />
<div class="row">
    <div class="col-lg-8">
        <div class="card card-default">
            <div class="card-header">
                <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
            </div>
            <!-- /.card-header -->
            Some other component
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
        <div class="card card-default">
            <div class="card-header">
                <i class="fa fa-bell fa-fw"></i> Notifications card
            </div>
            <!-- /.card-header -->
            Some other component
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        some component again

        <!-- /.card .chat-card -->
    </div>
    <!-- /.col-lg-4 -->
</div>
